*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary: #FF5733;
    --dark: #000000;
    --gray: #494949;
    --light: #ffffff;
    --radius: 16px;
    --shadow: 0 10px 40px rgba(0, 0, 0, 0.1); 
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--light);
    color: var(--dark);
    line-height: 1.6;
}

a{
    text-decoration: none;
    color: var(--primary);
}

img{
    max-width: 100%;
    display: block;
}

ul{
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

.btn{
    background:var(--primary);
    display: inline-block;
    padding: 12px 24px;
    color: var(--light);
    border-radius: 8px;
    font-weight: 600;
    transition: 0.3s;
    cursor: pointer;
    margin-top: auto;
}

.btn:hover{
    filter:  brightness(0.9);
    transform: translateY(-2px);
}

.btn-outline{
    background: transparent;
    border: 2px solid var(--primary);
    color: var(--primary);
}

.btn-outline:hover{
    background: var(--primary);
    color: var(--light);
    transform: translateY(-2px);
}

.btn-ligth{
    background: var(--light);
    display: inline-block;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: 600;
    transition: 0.3s;
    cursor: pointer;
}
.btn-ligth:hover{
    transform: translateY(-10px);
}

.logo{
    font-size: 24px;
    font-weight: bold;
}

header{
    justify-content: space-between;
    position: fixed;
    inset:  0 0 auto 0;
    display: flex;
    align-items: center;
    padding: 15px 5%;
    background: #ffffff;
    box-shadow: var(--shadow);
    z-index: 99;
}

header nav{
    display: flex;
    gap: 30px;
}

header nav a{
    font-weight: 600;
    transition: 0.3s;
}

header nav a:hover{
    color: var(--primary);
    transform: translateY(-2px);
}

.hero-wrapper{
    background: linear-gradient(135deg, var(--light), var(--light));
    padding-top: 80px;
}

.hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 60px;
    max-width: 1100px;
    margin: auto;
    padding: 60px 20px;
}

.hero h1{
    font-size: 48px;
    line-height: 1.1;
    margin-bottom: 20px;
}

.hero p{
    font-size: 18px;
    margin-bottom: 30px;
    color: var(--gray);
}

.hero img{
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    box-sizing: 0 20px 60px rgba(255, 107, 53, 0.2);
}

.hero-buttons{
    display: flex;
    gap: 20px;
    margin-bottom:40px;
}

.hero-stats{
    display: flex;
    gap: 40px;
}

.hero-stats li {
    display: flex;
    flex-direction: column;
}

.hero-stats span{
    font-size: 14px;
    color: var(--gray);
}
.hero-stats strong{
    font-size: 28px;
    color: var(--primary);
}

.cardapio{
    padding: 80px 20px;
    text-align: center;
}

.cardapio h2{
    font-size: 36px;
    margin-bottom: 10px;
}

.cardapio p{
    color: var(--gray);
    margin-bottom: 50px;
}

.menu-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    max-width: 1100px;
    margin: 0 auto;
}

.menu-grid li{
    position:relative;
    background-color: var(--light);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    text-align: left;
    transition: 0.3s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.menu-grid li img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.badge{
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: var(--primary);
    color: var(--light);
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 600;
}
.menu-grid h3{
    padding: 20px 20px 10px;

}

.menu-grid p{
    padding: 0 20px 20px;
    color: var(--gray);
    font-size: 14px;
}
.menu-grid strong{
    display: block;
    color: var(--primary);
    padding: 8px 12px;
    font-size: 14px;
    margin-top: auto;
    margin-left: 20px;
    margin-bottom: 8px;
}

.menu-grid .btn{
    display: block;
    margin: auto 20px 20px;
    margin: 0 20px 20px;
    text-align: center;
}

.sobre{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 60px;
    padding: 80px 5%;
    background-color: var(--light);
}

.sobre img{
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}

.sobre h2{
    font-size: 36px;
    margin-bottom: 20px;
}
.sobre article p{
    color: var(--gray);
    margin-bottom: 20px;
}

.sobre ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cta{
    padding: 80px 5%;
    text-align: center;
    background: linear-gradient(135deg, var(--primary), #FF8A65);
}

.cta h2{
    color: var(--light);
    font-size: 36px;
    margin-bottom: 10px;
}

.cta p{
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 18px;
    font-size: 30px;
}


footer{
    background: var(--dark);
    color: var(--light);
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 40px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px 20px;
}

.footer-copy{
    text-align: center;
    padding: 15px;
    font-size: 14px;
    color: #aaa;
    border-top: 1px solid #222;
}
